<div class="row">
  <div class="col s6 m5">
    <div class="card-panel teal">
      <span class="white-text"> 
        <h2>Packard Place</h2>
        <div>
            <iframe width="500" height="400" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=Packard%20Place%2C%20South%20Church%20Street%2C%20Charlotte%2C%20NC%2C%20United%20States&key=<%=ENV['GOOGLE_API_KEY']%>"></iframe>
        </div>
       </span>
    </div>
  </div>
</div>
