$resolution: 1;

* {  position: relative; }

body { 
  background-color: lime;
}

#controls {
  text-align: center;
}

#room {
  width: 800px * $resolution;
  height: 400px * $resolution; 
  margin: 20px auto;
  border-bottom: 10px * $resolution solid #999;
  background-color: #000;
  #decor {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    .wall {
      float: left;
      background-color: #97A4A9;
      box-shadow: inset 0 5px 20px #000;
      &#back-wall {
        width: 85%;
        height: 75%;
      }
      &#front-wall {
        width: 15%;
        height: 100%;
        background-color: #DFE6DF;
        box-shadow: none;
        float: right;
      }
    }
    
    #knob {
      background-color: #343233;
      width: 10px * $resolution;
      height: 5px * $resolution;
      border-radius: 0px 3px * $resolution 3px * $resolution 0px;
      box-shadow: 2px 2px 5px #333;
      position: absolute;
      left: 0px;
      top: 200px * $resolution;
    }
    
    #screen {
      background-color: #A2242A;
      width: 60%;
      height: 100%;
      margin: 0 auto;
      border-bottom: 5px * $resolution solid #fff;
      z-index: 1;
    }
    
    #ladder {
      width: 20%;
      height: 100%;
      left: 5px * $resolution;      
      
      .rail,
      .rung {
        background-color: #65362D;
        position: absolute;
        left: 0;
        bottom: -5px * $resolution;
      }
      
      .rail {
        width: 5px * $resolution;
        height: 101.5%;
        
        &.right {
          left: 100%;
          right: 0;
        }
      }
      
      .rung {
        width: 100%;
        height: 4px * $resolution;
        
        &.one {
          top: 20px * $resolution;
        }        
        &.two {
          top: 60px * $resolution;
        }        
        &.three {
          top: 105px * $resolution;
        }        
        &.four {
          top: 150px * $resolution;
        }       
        &.five {
          top: 200px * $resolution;
        }        
        &.six {
          top: 250px * $resolution;
        }        
        &.seven {
          top: 300px * $resolution;
        }
      }

    }
    
    #floor {
      float: left;
      width: 85%;
      height: 25%;
      background-color: #967D31;
    }
  }
  
  #dancers {
    position: absolute;
    top: 45px * $resolution;
    .dancer {
      position: absolute;
      left: 275px * $resolution;
      z-index: 2;
      &.right {
        left: 425px * $resolution;
      }
      
      .head {
        left: 22px * $resolution;
        top: 3px * $resolution;
        z-index: 3;
        .hat {
          background-color: #FDF16B;
          width: 30px * $resolution;
          height: 25px * $resolution;
          border-radius: 10px * $resolution 10px * $resolution 0 0;
        }
        .face {
          background-color: #E27F68;
          width: 30px * $resolution;
          height: 28px * $resolution;
          border-radius: 0 0 50px * $resolution 50px * $resolution;
          .glasses {
            background-color: black;
            width: 28px * $resolution;
            height: 12px * $resolution;
            border-radius: 2px * $resolution 2px * $resolution 10px * $resolution 10px * $resolution;
            left: 1px * $resolution;
          }
        }
      }
      .torso {
        background-color: #9C5B3D;
        width: 70px * $resolution;
        height: 150px * $resolution;
        top: -3px * $resolution;
      }
      .arm {
        position: absolute;
        top: 50px * $resolution;
        .bicep {
          background-color: #9C5B3D;
          width: 23px * $resolution;
          height: 55px * $resolution;
          border-radius: 50px * $resolution 0 0 0;
        }
        .forearm {
          background-color: #9C5B3D;
          width: 20px * $resolution;
          height: 50px * $resolution;
        }
        .hand {
          background-color: #999;
          width: 15px * $resolution;
          height: 25px * $resolution;
          left: 3px * $resolution;
          bottom: -50px * $resolution;
        }
        
        &.left {
          left: -23px * $resolution;
        }
        
        &.right {
          right: -23px * $resolution;
          .bicep {
            border-radius: 0 50px * $resolution 0 0;
          }
          .forearm {
            left: 3px * $resolution;
          }
          .hand {
            background-color: #E27F68;
            left: 5px * $resolution;
          }
        }      
      }
      .leg {
        position: absolute;
        top: 200px * $resolution;
        .thigh {
          background-color: #9C5B3D;
          width: 30px * $resolution;
          height: 35px * $resolution;
        }
        .calf {
          background-color: #9C5B3D;
          width: 30px * $resolution;
          height: 65px * $resolution;
        }
        .foot {
          background-color: #D62418;
          width: 19px * $resolution;
          height: 20px * $resolution;
          left: 6px * $resolution;
          top: 65px * $resolution;
          border-top: 4px * $resolution solid #fff;
        }
        
        &.left {
          left: 0;
        }
        
        &.right {
          right: 0; 
        }
      }
    }
  }
}

/* dance moves */
.marquee {
  -moz-animation: marquee 4s infinite linear;
}

.bop-head {
  .head {
    -moz-animation: headbop 600ms infinite linear;
  }
}

.bend-arms {
  .forearm {
    top: -25px * $resolution;
  }
  .left > .forearm {
    -moz-animation: armbend-left 600ms infinite linear;
  }
  .right > .forearm {
    transform: rotateX(180deg);
    -moz-animation: armbend-right 600ms infinite linear;
  }
}

.bend-legs {
  .dancer {
    -moz-animation: body-rock 600ms infinite linear;
  }
  .thigh {
    height: 60px * $resolution!important;
  }
  .calf {
    top: -30px * $resolution;
  }
  .left > .calf {
    -moz-animation: legbend-left 600ms infinite linear;
  }
  .right > .calf {
    transform: rotateX(-90deg);
    -moz-animation: legbend-right 600ms infinite linear;
  }
}

.fun {
  #screen {
    background: url('../assets/cat.gif') bottom center;
  }
}


@-moz-keyframes marquee {
  0% { left: 0;}
  25% { left: 130px * $resolution; }
  50% { left: 0; }
  75% { left: -130px * $resolution; }
  100% { left: 0; }
}

@-moz-keyframes headbop {
  25% { transform-origin: 0 50%; transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform-origin: 50% 0; transform: rotate(10deg); }
}

@-moz-keyframes armbend-left {
  0% { transform: rotateX(0deg); }
  50% { transform: rotateX(180deg); }
}

@-moz-keyframes armbend-right {
  0% { transform: rotateX(180deg); }
  50% { transform: rotateX(0deg); }
}

@-moz-keyframes body-rock {
  25% { transform-origin: 0 50%; transform: rotate(1deg); }
  50% { transform: rotate(0deg); }
  75% { transform-origin: 50% 0; transform: rotate(-1deg); }
}

@-moz-keyframes legbend-left {
  0% { transform: rotateX(0deg); }
  50% { transform: rotateX(-90deg); }
}

@-moz-keyframes legbend-right {
  0% { transform: rotateX(-90deg); }
  50% { transform: rotateX(0deg); }
}