<br>
<div class="jumbotron">
    <h1>Rails University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Welcome to RailsU</h3>
        <p>
            Rails University (RailsU) is a sample application that
            guides Ruby on Rails students through creating
            a simple 'workalike' of the ASP.NET MVC 5
            with Entity Framework sample, Contoso University.  This
            is intended to show beginning Rails students how their
            MVC skills transfer to other MVC frameworks such as
            Angular.js or Microsoft ASP.NET MVC, and to have some
            fun while learning Ruby on Rails.  <strong>It is *not* a comparison of Rails and ASP.NET...</strong>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Build it from scratch</h3>
        <p>You can build RailsU by following the steps in our class notes PDF file at the root of the RailsU github repo.</p>
        <p><a class="btn btn-primary btn-sm" href="https://github.com/PaulaPaul/RailsU/blob/master/RailsU-ClassNotes.pdf?raw=true">RailsU class notes</a></p>
        <p>You can build Contoso University by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-primary btn-sm" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">ASP.NET Tutorial</a></p>
    </div>
    <div class="col-md-4">
        <h3>Get the code</h3>
        <p>You can clone or fork the RailsU code from github.  Pull requests are welcome!</p>
        <p><a class="btn btn-primary btn-sm" href="https://github.com/PaulaPaul/RailsU">RailsU github repo</a></p>
        <p>You can download the completed Contoso University project from the Microsoft Code Gallery.</p>
        <p><a class="btn btn-primary btn-sm" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download Contoso University</a></p>
    </div>
</div>