    <!-- Home Section -->
    <section id="home">
    <p>This sample Rails app incorporates a custom Bootstrap theme called 'freelancer' by dropping the Bootstrap theme assets such as CSS, Javascript and image files into the app/assets folders</p>
    </section>