Color Step
<br>
  <div class="field">
    <%= f.label :cheap_color %><br>
    <%= f.text_field :cheap_color %>
  </div>
  <div class="field">
    <%= f.label :expensive_color %><br>
    <%= f.text_field :expensive_color %>
  </div>
