Material Step
<br>
  <div class="field">
    <%= f.label :cheap_material %><br>
    <%= f.text_field :cheap_material %>
  </div>
  <div class="field">
    <%= f.label :expensive_material %><br>
    <%= f.text_field :expensive_material %>
  </div>
