<br>
<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">Update Department Information</h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer"><%= link_to 'Show', @department,:class => "btn-primary btn-sm" %>  <%= link_to 'Back', departments_path,:class => "btn-primary btn-sm"   %>
  </div>
</div>